@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amethysta&display=swap');
/* || Universal Selectors || */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerFont: 'Abril Fatface', cursive;
    --bodyFont: 'Amethysta', serif;
}

/* |||| Element Selectors |||| */
body {
    background-color:honeydew;
    position: relative;
}

header {
    display: flex;
    width: 100%;
    background-color:slategray;
    position: fixed;
    opacity: 80%;
    z-index: 1;
    border-bottom: .4rem double steelblue;
    font-family: var(--headerFont, 'Trebuchet MS');
    font-stretch: 115%;
}

header nav {
    display: flex;
    margin: 0 .5rem 0 auto;
}

header ol {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header li {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-content: center;
    padding: .5rem;
    margin: 0 .5rem 0 .5rem;
}

header a {
    text-decoration: none;
    font-size: x-large;
    color:snow;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2em;
    font-family: var(--headerFont, 'Trebuchet MS');
    font-stretch: 115%;
}

h2 {
    font-size: 2em;
    font-family: var(--headerFont, 'Trebuchet MS');
    font-stretch: 115%;
}

h3 {
    font-family: var(--bodyFont, 'Trebuchet MS');
    overflow: clip;
}

h4 {
    font-family: var(--bodyFont, 'Trebuchet MS');
    overflow: clip;
}

p {
    font-family: var(--bodyFont, 'Trebuchet MS');
    overflow: clip;
}

a:hover {
    text-shadow: .1rem .1rem .1rem gold;
}

a:active {
    text-shadow: .1rem .1rem .1rem gold;
}

figcaption {
    font-family: var(--bodyFont, 'Trebuchet MS');
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: slategray;
    border-top: .4rem double steelblue;
    font-family: var(--headerFont, 'Trebuchet MS');
    font-stretch: 115%;
}

footer h5 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

/* |||||| Class id selectors |||||| */
.spreader {
    border-right: .3rem groove;
    border-color: slategray steelblue;
    border-radius: .1rem;
    box-shadow: 0.4em 0em 0.8em 0.3em steelblue;
    margin: 0em 2em 0 1em;
}


/* |||||| Unique id selectors |||||| */
#logo {
    display:flex;
    font-size: 2em;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin: auto auto auto .5rem;
}

#contentWrap { /* wraps the content of body other than footer to pad footer */
    padding-bottom: 5em;
}

/* Moved header figure styles here as to not conflict with other figures in the body */
#headFig {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
}

#headFig figcaption {
    position: relative;
    top: 85%;
    float: right;
    color:snow;
    background: slategray;
    padding: 1.25rem;
    border: 2px double steelblue;
    opacity: 85%;
    border-top-left-radius: 1.5rem;
}

#aboutMe {
    margin: 2em 2em 0em 2em;
}

#aboutCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photoFig {
    margin-top: .3rem;
    background-image: url("../images/dreamed3-2021PhotoSmaller.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 200px;
}

#aboutMe p {
    color:steelblue;
    padding: 1em;
    text-align:center;
    font-size: 1.25em;
    padding: 1.25rem;
    width: 50%;
}

#exampleLeft {
    display: flex;
    justify-self: flex-start;
    font-size: 2em;
    margin-left: 2em;
}

#examples {
    display: flex;
    margin: 2em 2em 0em 2em;
    width: 100%;
    justify-content: center;
}

#exContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    padding: .3rem;
    background-color: steelblue;
}

#exContainer a {
    text-decoration: none;
    color:black;
}

#moreEx {
    display: flex;
    margin-top: .2rem;
    width: 100%;
}

#moreExLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

#moreExRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

#moreEx .example {
    margin-bottom: .2rem;
}

.example {
    display: flex;
    flex-direction: column;
    border: .2rem double transparent;
}

.example > h3, .example > h4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.example:hover {
    border: .2rem double gold;
    background-color: slategray;
    background-blend-mode: darken;
}

.example:active {
    border: .2rem double gold;
    background-color: slategray;
    background-blend-mode: darken;
}

#featuredEx article {
    padding: .3rem 1rem 5rem .3rem;
    background-image: url(../images/recipeChampion.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    color: white;
}

#weather article {
    padding: .3rem 1rem 1.5rem .3rem;
    background-image: url(../images/weatherSH.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

#scheduler article {
    padding: .3rem 1rem 1.5rem .3rem;
    background-image: url(../images/schedulerSH.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

#catMouse article {
    padding: .3rem 1rem 1.5rem .3rem;
    background-image: url(../images/catmouseball.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 98px;
    max-height: 98px;
    width: 100%;
}

#pwGen article {
    padding: .3rem 1rem 1.5rem .3rem;
    background-image: url(../images/pwGenSH.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

#contactMe {
    justify-content: center;
    margin: 2em 2em 0 2em;
}

#contactMe h2 {
    display: flex;
    justify-content: flex-start;
}

#contactMe ol > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: var(--bodyFont, 'Trebuchet MS');
}

#contactMe a {
    text-decoration: none;
    color: steelblue;
}

#resume p {
    font-size: 1.25em;
    font-family: var(--bodyFont, 'Trebuchet MS');
    color: steelblue;
}

#resume section {
    display: flex;
    margin: 2em 2em 0 2em;
    align-items: center;
}

#resume section h1 {
    margin: 0 2em 0 2em;
    font-size: 2em;
    border-right: .3rem solid slategray;
    padding-right: 1em;
    text-align: center;
}

#resume section div {
    text-align: center;
}

#resume section div p {
    padding: 1em;
}

/* |||||||| Media screen responses |||||||| */
@media screen and (max-width: 1085px) {
    #moreEx {
        flex-direction: column;
    }
    #moreEx div {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {

    header {
        display: block;
    }
    header ol {
        justify-content: space-between;
    }
    #headFig figcaption {
        top: 89%;
        padding: .7rem;
    } 
}

@media screen and (max-width: 490px) {

    header {
        display: block;
        width: initial;
        border-right: .3rem double steelblue;
        border-bottom-right-radius: 1.5rem;
    }
    header ol {
        display: block;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {

    body figure {
        width:max-content;
    }
}
